<LinkTo 
  @route="artists.artist"
  @model={{@artist}}
  {{on "mouseenter" this.showName}}
  {{on "mouseleave" this.hideName}}
  class="
  artist-tile
  w-full
  relative
  ">
<div class="invisible name-tile bg-un{{@artist.team.color}} absolute top-0 left-0 z-20 w-full h-full flex justify-center items-center">
  <p class="text-center text-white md:uppercase font-semibold text-sm md:text-xl p-4">{{@artist.displayName}}</p>
</div>
<img src={{@artist.imgUrl}} 
  alt="{{@artist.displayName}} {{if @artist.photoCredit (concat "by " @artist.photoCredit)}}" 
  class="
  object-contain w-full pointer-events-none" />
</LinkTo>


