<article class="
  text-un{{@artist.team.color}}
  pb-10">

  <ArtistHeader @artist={{@artist}} />

  <div class="w-full flex flex-row">
    <div class="hidden md:flex w-1/4 flex-col space-y-2">
      <h3 class="text-base md:text-3xl uppercase font-semibold tracking-wide">
        <LinkTo @model={{@artist.team.id}} @route="teams.team"
          class="underline hover:text-alt{{@artist.team.color}}"
          >
          {{@artist.team.name}}
        </LinkTo>
      </h3>
      <p class="uppercase font-semibold">
        TEAMMATE
      </p>
      <p class="text-xl">
        <LinkTo class="underline hover:text-alt{{@artist.team.color}} font-normal"
          @route="artists.artist"
          @model={{this.teammate.id}}
        >
          {{this.teammate.displayName}}
        </LinkTo>
      </p>

      <p class="font-normal text-2xs md:text-base">
        {{this.teammate.pronouns}}
      </p>
      <ArtistLinks @artist={{this.teammate}} />
      <SwallowtailFlag @color={{@artist.team.color}}>
        {{this.teammate.country}}
      </SwallowtailFlag>
    </div>
    <div class="w-full md:w-3/4 md:pl-20">
      <TextBox @markdownPath={{concat "bios/" @artist.id}} />
    </div>
  </div>
</article>
