<LinkTo 
  @route="teams.team"
  @model={{@team.id}}
  class="
  team-tile
  w-full
  flex flex-col
  text-black
  hover:text-un{{@team.color}}
  ">
  {{svg-jar (concat @team.id "-logo") class="fill-current"}}
  <h3 class="pb-1 md:pb-2 pt-3
    text-base md:text-2xl uppercase font-semibold tracking-wide">{{@team.name}}</h3>
  {{#each @team.artists as |artist|}}
    <h4 class="font-normal text-xs md:text-xl">{{artist.displayName}}</h4>
  {{/each}}
</LinkTo>

