<aside class="block md:hidden
  w-full flex flex-col
  ">
  <div class="flex flex-row justify-between space-x-2 pb-2">
    <div class="noise-background w-4/5 unveiling-banner flex-grow-1 
      bg-black text-white
      flex flex-col justify-center items-center
      p-2 pt-0
      "
      role="button"
      {{on "click" this.toggleVideo}}
      {{did-insert this.makeWaves}}
      >
    {{svg-jar "unveiling-banner"}}
    </div>
    <div class="noise-background w-1/5 flex justify-center items-center "
                   >
      <a href="https://www.facebook.com/events/285086856576731/" class="hover:text-unbrown {{if this.isShowing "text-unbrown" "text-unpurple"}}">
        {{svg-jar "unveiling-banner-facebook-button" class="h-full w-full fill-current"}}
      </a>
    </div>
  </div>
  {{#if this.isShowing}}
      <div class="noise-background p-2">
        <div class="h-full w-full unveiling-banner-video-wrapper">
        <iframe
          class="unveiling-banner-iframe"
          src="https://www.youtube-nocookie.com/embed/b6Wy-X5S3nU?modestbranding=1&rel=0" 
          title="Un/Mute-10002 Unveiling Trailer" 
          frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        </div>
      </div>
      <div class="py-3 w-full h-full flex-grow-1 flex flex-col justify-end text-unpurple">
        <h3 class="text-xl font-bold pb-2">UN/MUTE Unveiling</h3>
        <p>The ten-week Un/Mute virtual residency is complete, and Undercurrent invites you to participate in the unveiling of ten projects from the 20 participating artists. <a href="https://www.facebook.com/events/285086856576731/" class="underline">RSVP on Facebook</a>, and we'll see you on May 9th!</p>
      </div>
      {{/if}}
</aside>
<aside class="hidden md:flex w-full flex-row justify-between mb-6 space-x-6">
  <div class="noise-background w-10/12 unveiling-banner flex-grow-1 
    bg-black text-white
    flex flex-col justify-center items-center
    p-2 pt-0
    ">
    {{#if this.isShowing}}
    <div class="w-full flex flex-col">
      <div role="button" class="w-full text-ungreen"
           {{on "click" this.toggleVideo}}
           >
           {{svg-jar "unveiling-banner-collapsed" class="fill-current"}}
      </div>
      <div class="h-full w-full unveiling-banner-video-wrapper">
        <iframe
          class="unveiling-banner-iframe"
          src="https://www.youtube-nocookie.com/embed/b6Wy-X5S3nU?modestbranding=1&rel=0" 
          title="Un/Mute-10002 Unveiling Trailer" 
          frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      </div>
    </div>
    {{else}}
    <div role="button"
      class="w-full"
      {{on "click" this.toggleVideo}}
      {{did-insert this.makeWaves}}
         >
    {{svg-jar "unveiling-banner"}}
    </div>
    {{/if}}
  </div>
  <div class="w-2/12 flex flex-col">
    <div class="noise-background w-full flex justify-center items-center "
                   >
      <a href="https://www.facebook.com/events/285086856576731/" class="hover:text-unbrown {{if this.isShowing "text-unbrown" "text-unpurple"}}">
        {{svg-jar "unveiling-banner-facebook-button" class="h-full w-full fill-current"}}
      </a>
    </div>
    {{#if this.isShowing}}
    <div class="w-full h-full flex-grow-1 flex flex-col justify-end text-unpurple space-y-4">
      <h3 class="text-xl font-bold">UN/MUTE Unveiling</h3>
      <p>The ten-week Un/Mute virtual residency is complete, and Undercurrent invites you to participate in the unveiling of ten projects from the 20 participating artists. <a href="https://www.facebook.com/events/285086856576731/" class="underline">RSVP on Facebook</a>, and we'll see you on May 9th!</p>
    </div>
    {{/if}}
  </div>
</aside>
