{{#let (if @team @team.color "purple") as |color|}}
  <article class="
    pb-16
    flex flex-col md:flex-row-reverse
    text-un{{color}}
    "
    >
    <div class="w-full md:w-3/4">
      <div class="clip-play-box">
        <iframe 
          title="Clip {{@clip.id}}"
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube-nocookie.com/embed/{{@clip.id}}?modestbranding=1&rel=0" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="pt-3 md:pt-0 flex flex-col md:pr-6 w-full md:w-1/4">
      <div class="w-full">
        <h2 class="pb-1 md:pb-4
          text-base md:text-3xl uppercase font-semibold tracking-wide">{{if @team @team.name @clip.noTeamTitle}}</h2>

        {{#unless @noName}}
          {{#if @team}}
            <div class="pb-4">
              {{#each @team.artists as |artist|}}
                <div class="flex flex-row md:flex-col justify-between pb-2 md:pb-3">
                  <h3 class="font-semibold md:font-normal text-xs md:text-xl">
                    <LinkTo @route="artists.artist" @model={{artist.id}} class="underline hover:text-alt{{color}}">
                      {{artist.displayName}}
                    </LinkTo>
                  </h3>
                  <SwallowtailFlag @color={{color}}>
                    {{artist.country}}
                  </SwallowtailFlag>
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/unless}}
      </div>
      <div class="w-full md:pt-6">
        <p class="font-normal md:font-abnormal text-sm md:text-base text-justify">
          /{{@youTubeData.description}}
        </p>
      </div>
    </div>
  </article>
{{/let}}

