<div class="flex flex-row space-x-2 md:space-x-4 relative pt-2 mb-1 md:pb-0">
  <a role="button" href="http://undercurrent.nyc" class="hover:text-unbrown">
    {{svg-jar "undercurrent" class="fill-current h-4 md:h-7"}}
  </a>
  <a role="button" href="http://facebook.com/undercurrent.nyc/" class="hover:text-unblue">
    {{svg-jar "facebook-official" class="fill-current h-4 md:h-7"}}
  </a>
  <a role="button" href="http://instagram.com/undercurrent.nyc" class="hover:text-ungreen">
    {{svg-jar "instagram" class="fill-current h-4 md:h-7"}}
  </a>
  <a href="#" role="button" {{on "click" this.toggleDropdown}}>
    {{svg-jar "bars" class="h-4 md:hidden" aria-hidden="true"}}
  </a>
  <div class="{{if this.hiddenDropdown "hidden"}} nav-dropdown-menu absolute w-36 shadow-lg z-50 bg-white ring-1 ring-black ring-opacity-5"
       role="menu">
    <ul class="py-2 font-normal" role="menu" aria-orientation="vertical" aria-labelledby="nav-dropdown-menu">
      <li class="block px-4 py-1 text-base" role="menuitem"><LinkTo  {{on "click" this.toggleDropdown}} @route="clips" class="text-unred nav-about">/clips</LinkTo></li>
      <li class="block px-4 py-1 text-base" role="menuitem"><LinkTo  {{on "click" this.toggleDropdown}} @route="about" class="text-unpurple nav-about">/about</LinkTo></li>
      <li class="block px-4 py-1 text-base" role="menuitem"><LinkTo {{on "click" this.toggleDropdown}} @route="teams" class="text-ungreen nav-teams">/teams</LinkTo></li>
      <li class="block px-4 py-1 text-base" role="menuitem"><LinkTo  {{on "click" this.toggleDropdown}} @route="artists" class="text-unblue nav-artists">/artists</LinkTo></li>
      <!-- <li class="block px-4 py-1 text-base" role="menuitem"><LinkTo {{on "click" this.toggleDropdown}} @route="about">/podcast</LinkTo></li> -->
      <li class="block px-4 py-1 text-base"><a href="http://undercurrent.nyc/signup" class="text-unred">/get updates</a></li>
      <li class="block px-4 py-1 text-base"><a href="http://10001.undercurrent.nyc" class="text-black">/10001</a></li>
    </ul>
  </div>
</div>
